.carousel {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    border-radius: 12px;
}

.h160 {
    height: 160px;
}

.image {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 2000ms ease;
}

.visible {
    opacity: 1;
}

.fitCover {
    object-fit: cover;
}

.fitContain {
    object-fit: contain;
}

.fitFill {
    object-fit: fill;
}